*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #15161a;
  font-family: 'Poppins', sans-serif;
}
/*------WRAPPER------*/
#wrapper {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}
main{  
  max-width: 104.8rem;
  width: 100%;
  display: flex;
  flex: 1;
}
main .text{
  text-transform: uppercase;
  text-align: center;
}
main .text h1{
  letter-spacing: 6px;
  font-weight: 600;
  color: #17fa8e;  
}
main .text h3{
  letter-spacing: 3px;
  font-weight: 300;
  color: white;
}
footer {
  margin-bottom: 40px;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
  font-family: 'Inter', sans-serif;
}
footer a {
  color: #b3b3b3;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 14px;
}