*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #15161a;
  font-family: 'Poppins', sans-serif;
}

/*------WRAPPER------*/
#wrapper {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/*------ HEADER  ------*/
header{
  padding: 30px;
}
header nav a{
  color: #a0a0a0;
  padding: 0 30px;
  font-size: 20px;
  font-weight: 600px;
  text-decoration: none;
  letter-spacing: 0.5px;
}
header nav a:hover{
  color: #ffffff;
  transition: 400ms;
}

/*------ MAIN ------*/
main{  
  max-width: 104.8rem;
  width: 100%;
  flex: 1;
}
main .text{
  text-transform: uppercase;
  text-align: center;
}
main .text h1{
  letter-spacing: 6px;
  font-weight: 600;
  color: #17fa8e;  
}
main .text h3{
  letter-spacing: 3px;
  font-weight: 300;
  color: white;
}




/*------ MAIN - REDES SOCIAIS ------*/
.links {
  display: flex;
  justify-content: center;
  margin: 15px 0 30px 0;
}
.links a{
  padding: 5px;
}
/*------ FOOTER ------*/
footer {
  color: white;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 2px;
}
footer a {
  color: #a0a0a0;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 17px;
}
footer a:hover{
  color: #c9c9c9;
  transition: 400ms;
}